extends layout

block content
  form(action='/', method='POST', enctype="multipart/form-data")
    h2 Pictext - Developer friendly online OCR.
    table
      tr
        td 
          b Step 1:
          span  Choose an image file from your machine/device and click on "Upload" button:
      tr
        td  
          input(type="file", name="fileUpload", id="fileUpload", onchange="Filevalidation()", accept="image/*")
      tr
        td
          span OR
          br
          span Place an image URL in the following textbox and click on "Upload" button:
      tr
        td  
          input(type="text", name="file", id='file' size='80')
          - var messages = getMessages()
          if messages.notify
              each msg in messages.info
                  .info= msg
          if messages.error
              each msg in messages.error
                  .error= msg
      tr
        td(style="vertical-align: middle")
          input(type="submit", value="Upload" onclick="return Filevalidation()" style="float: right")
      tr
        td
          b Step 2:
          span  Click anywhere on the image displayed below to view the text:
      tr
        td
          input(type="text", name='textract', id='textract' size='80') 
      tr
        td          
          input(type="radio" id="word" name="type" text="WORD" value="WORD")
          label(for="word")  WORDS          
          input(type="radio" id="line" name="type" text="LINE" value="LINE" checked)
          label(for="line")  LINES
          a(href="javascript:void(0)" onclick="loadPopup();toggle_visibility('contact-popup');" style="float: right") Show Full Text
      div(class="popup-position" id="contact-popup")
        div(class="popup-wrapper")
          div(id="popup-container" name="popup-container")
            div(class="modal-footer")              
              p
                a(herf="javascript:void(0)" onclick="toggle_visibility('contact-popup');"  style="float: right") Close Popup
            div(id="popup-text" name="popup-text")            
    div(id='invoice')  
    script(src="/javascripts/index.js")
    script(language="javascript").
      var textractJson =  !{textractJson};
      document.getElementById("invoice").onclick = function(e){
      if(!textractJson.Blocks)
      {
        alert("No text found in this region.\n Please upload a valid image file");
        return;
      }
      var offset = $("#invoice").offset();
      var relX = e.pageX - offset.left;
      var relY = e.pageY - offset.top;
      var relLeft = relX/imageX;
      var relTop = relY/imageY;
      var type = $("input[name='type']:checked").val();
      $.each( textractJson.Blocks, function( i, item ) {
            if ( item.BlockType.Value === type && relLeft > item.Geometry.BoundingBox.Left && relTop > item.Geometry.BoundingBox.Top && relLeft < item.Geometry.BoundingBox.Left + item.Geometry.BoundingBox.Width && relTop < item.Geometry.BoundingBox.Top + item.Geometry.BoundingBox.Height ) {
              $("#textract").val(item.Text).select();
               document.execCommand("copy");
                return false;
              }
          });
      };  
      RenderImage("#{imageurl}");