doctype html
html
  head
    title= title
    meta(charset="UTF-8")
    meta(name="description" content="A developer friendly online OCR")
    meta(name="keywords" content="online OCR,Textract,pictext")
    meta(name="author" content="Ram Vedantham, v_ram_prasad@outlook.com")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/popup.css')
    script(src='https://code.jquery.com/jquery-1.10.2.js')
  body
    block content
